@font-face {
  font-family:"Monument Extended";
  src: url("MonumentExtended-Regular.otf") format("truetype");
}

body {
    font-family: 'Monument Extended', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1a1a1a;
}

html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.home {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.home_photo {
    display: flex;
    width: 100%;
    outline: 10px solid #1a1a1a;
    outline-offset: -10px;
    max-height: 60vh;
    object-fit: cover;
}

.home_edit {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.home_row_buttons {
    display: flex;
    flex-direction: row;
}

.home_button {
    display: flex;
    color: white;
    font-family: 'Monument Extended';
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}

.home_button:hover {
    background: linear-gradient(to right, #F95621, #FAEA17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

.home_button_pink {
    display: flex;
    color: white;
    font-family: 'Monument Extended';
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
    margin: 0 10px;
}

.home_button_pink:hover {
    background: linear-gradient(to right, #ED1E79, #ee3c89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

.home_button_blue {
    display: flex;
    color: white;
    font-family: 'Monument Extended';
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
    margin: 0 10px;
}

.home_button_blue:hover {
    background: linear-gradient(to right, #29ABE2, #3db2e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

.home_popo {
    display: flex;
    position: absolute;
    bottom: 5px;
    color: white;
    opacity: 0.2;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    align-self: center;
}

.home_popo:hover {
    background: linear-gradient(to right, #F95621, #FAEA17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
}

.svg {
    display: flex;
    height: 768px;
    width: 1366px;
}

.edit {
    display: flex;
    margin: auto;
}

.edit_back {
    display: flex;
    margin: auto 10px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    color: white;
}

.edit_back:hover {
    background: linear-gradient(to right, #F95621, #FAEA17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textbox {
    resize: none;
    font-family: Roboto;
    margin: auto 10px;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 4px;
}

.textbox:focus {
    outline: 2px solid #F95621;
    outline-offset: -1px;
}

.button {
    margin: auto 10px;
    font-family: Roboto;
    border: none;
    border-radius: 4px;
    background: white;
    color: #1a1a1a;
    transition: 0.3s;
    font-size: 16px;
    padding: 5px 10px;
}

.button:hover {
    color: #F95621;
}

.bluebet {
    background: #29ABE2;
    color: white;
}

.pinkbet {
    background: #ED1E79;
    color: white;
}